<div class="row main-div">
    <div class="card p-3 mb-2" >
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div class="ms-2 c-details">
            <h5 >
              Name :: <span>{{ details.name }}</span>
            </h5>
            <h5>
              department :: <span>{{ details.dept}}</span>
            </h5>
            <h5>
              designation :: <span>{{ details.designation }}</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="badge"><span>Design</span></div>
    </div>
  </div>